@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #e91e63;
  --secondary-bg-color: #f09819;
  --bg-color: #ffffff;
  --color: #212529;
}

[data-theme="dark"] {
  --primary-bg-color: #ff4500;
  --secondary-bg-color: #f0e68c;
  --bg-color: #212529;
  --color: #ffffff;
}
[data-theme="light"] {
  --primary-bg-color: #e91e63;
  --secondary-bg-color: #f09819;
  --bg-color: #ffffff;
  --color: #212529;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "roboto", "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

.whole__page__container {
  width: 100vw;
  height: 100vh;
}

.medium__button {
  padding: 1em 2em;
  font-size: 1.25em;
  font-weight: 500;
  background-color: var(--primary-bg-color);
  color: var(--color);
  border-radius: 0.5em;
}

.title__font {
  font-family: "Rubik", sans-serif;
}

.small__button {
  padding: 0.25em 1em;
  background-color: var(--primary-bg-color);
  color: var(--color);
  border-radius: 0.5em;
}
